doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
  body
    p Hello #{name},
    p 
      | You have been assigned as a Housing Locator to 
      a(href=renterUrl) #{renterName}'s
      |  referral for the unit at: 
      a(href=unitUrl) #{unitAddress}
      | .

